venv/
__pycache__/
*.pyc
.DS_Store
app/.DS_Store
app/__pycache__
*.db
instance/fashanise.db           # Ignore a SQLite database file
migrations/__pycache__/
static/uploads
app/static/image/clothing_items
app/static/image/outfits
app/static/profile_picture

migrations/__pycache__
migrations/versions/__pycache__

.env
