# -------------------------------- #
# Requirements modules             #
# pip install -r requirements.txt     #
# -------------------------------- #
# Flask and extensions
flask
flask_wtf
flask_sqlalchemy
wtforms
flask_login
flask_migrate
flask_mail
flask_testing

# Image processing
rembg
Pillow

selenium

# Conditional dependency (choose one depending on your system)
onnxruntime-silicon; platform_system == "Darwin" and platform_machine == "arm64"
onnxruntime; platform_system != "Darwin" or platform_machine != "arm64"

# Others
numpy==1.24.4
email_validator
pyjwt

