{% extends "base.html" %}
{% block title %}Wardrobe Analysis{% endblock %}

{% block content %}
<section class="analysis">
    <h1>Wardrobe analysis</h1>
    <div class="total-items-header">
        <h2>Total items</h2>
        <p class="total-items-value">{{ total_item_value }}</p>
        <h3>Item in your wardrobe</h3>
    </div>
    <div class="outfit-created-header">
        <h2>Outfits Created</h2>
        <p class="outfits-created-value">{{ outfit_created_value }}</p>
        <h3>Saved outfit combinations</h3>
    </div>
    <h2>Most Used Items</h2>
    <div class="most-used-item-block">
        <img src="{{ item_image_url }}" alt="Most used item" class="most-used-item-image">
        <h2>{{ item_name or 'No item yet'}}</h2>
        <h3>Used in {{ number_of_mixed_outfits or 0}} outfits</h3>
    </div>
    <h2>Style analysis</h2>
    <div class="graph-style-analysis">
        <canvas id="pie-graph"></canvas>
        <canvas id="spike-graph"></canvas>
        <canvas id="bar-graph"></canvas>
        
    </div>
</section>

