<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Warning block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <header>
        <nav>
            <div class="navbar-container">
                <div class="logo">
                    <a href="{{ url_for('main.home') }}">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fashonise Logo" />
                    </a>
                    
                </div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('main.wardrobe') }}">MyWardrobe</a></li>
                    <li><a href="{{ url_for('main.outfits') }}">MyOutfits</a></li>
                    <li><a href="{{ url_for('main.analysis') }}">Analysis</a></li>
                    <li><a href="{{ url_for('main.social') }}">Social</a></li>
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                    
                </ul>

            </div>
        </nav>
    </header>

    <main>
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
