{% extends "base2.html" %}

{% block content %}
<div class="container login-page">
  <div class="split left">
    <div class="centered">
      <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fashonise Logo" />
      </a>
      
      <p class="Welcome"><b>Welcome Back!</b></p>
      <br>
      <p>Login to access your virtual wardrobe and <br>style recommendations </p>

      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>
      
      <br> 

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="split right">
    <div class="centered2">
      <div class="sign_up">
        <div class="tabs">
          <a href="{{ url_for('signup') }}">Sign-Up</a>
          <a href="{{ url_for('login') }}" class="selected">Log-In</a>
        </div>

        <div class="form_container">
          <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <label for="email"><i class="fa-solid fa-envelope"></i> Email:</label>
            {{ form.email(size=32, class='form-control') }}

            <label for="password"><i class="fa-solid fa-lock"></i> Password:</label>
            {{ form.password(size=32, class='form-control') }}

            <div class="remember">
              <div class="remember-left">
                {{ form.remember() }}
                <label for="remember">Remember Me</label>
              </div>
              <a href="#" class="Forgot">Forgot Password?</a>
            </div>

            <div class="button_final">
              <button type="submit">Log In</button>
              
              <p class="no_account">
                <br>
                Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
              </p>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
