{% extends "base2.html" %}
{% block title %}Request Reset Password{% endblock %}

{% block content %}
<div class="container signup-page">
    <div class="split left">
      <div class="centered">
        <a href="{{ url_for('main.home') }}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fashonise Logo" />
        </a>
        
        <p class="Welcome"><b>Request Reset Password for Fashanize!</b></p>
  
        <br>
        <p>Join 50,000+ users who have transformed <br> their closet experience</p>
        
        <br>
  
        <div class="star_row">
          <div class="pic"></div>
          <p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </p>
        </div>
  
        <br>
  
        <div class="star_row">
          <div class="pic"></div>
          <p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </p>
        </div>
  
        <br>
  
        <div class="star_row">
          <div class="pic"></div>
          <p>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="split-right">
        <div class="centered3">
            <div class="signup">
                <div class="form-container">
                    <h2>Request Reset Password</h2>
                    <form method="POST" action="{{ url_for('main.request_reset_password') }}">
                        {{ form.hidden_tag() }}
                        <label for="email"><i class="fa-solid fa-envelope"></i>Email: </label>
                        {{ form.email(class="form-control", placeholder="Enter your email")}}
                        <br>
                        <button type="submit" class="btn btn-primary">Send Reset Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}