{% extends "base2.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="auth-background">
  <div class="floating-icons">
    <img src="{{ url_for('static', filename='icons/1_puff1.png') }}" class="float-icon" style="top: 8%; left: 15%;">
    <img src="{{ url_for('static', filename='icons/1_puff2.png') }}" class="float-icon" style="top: 12%; right: 10%;">
    <img src="{{ url_for('static', filename='icons/1_puff3.png') }}" class="float-icon" style="top: 45%; left: 7%;">  
    <img src="{{ url_for('static', filename='icons/1_puff4.png') }}" class="float-icon" style="bottom: 10%; right: 6%;">
    <img src="{{ url_for('static', filename='icons/1_puff6.png') }}" class="float-icon" style="top: 35%; right: 4%;">

    <img src="{{ url_for('static', filename='icons/1_puff7.png') }}" class="float-icon" style="top: 29%; left: 20%;">
    <img src="{{ url_for('static', filename='icons/1_puff9.png') }}" class="float-icon" style="top: 53%; left: 20%;">  

    <img src="{{ url_for('static', filename='icons/1_puff12.png') }}" class="float-icon" style="top: 71%; left: 15%;">
    <img src="{{ url_for('static', filename='icons/1_puff13.png') }}" class="float-icon" style="top: 55%; right: 23%;">
    <img src="{{ url_for('static', filename='icons/1_puff14.png') }}" class="float-icon" style="top: 21%; left: 5%;">  
    <img src="{{ url_for('static', filename='icons/1_puff15.png') }}" class="float-icon" style="bottom: 64%; right: 20%;">
    <img src="{{ url_for('static', filename='icons/1_puff16.png') }}" class="float-icon" style="top: 67%; right: 12%;">
  
  </div>

  <div class="auth-box">
    <a href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fashonise Logo" class="auth-logo" />
    </a>

    <h2>Reset Password</h2>

    <form method="POST" action="{{ url_for('main.reset_password', token=token) }}">
      {{ form.hidden_tag() }}

      <label for="password"><i class="fa-solid fa-lock"></i> New Password:</label>
      {{ form.password(class="form-control", placeholder="Enter your new password") }}

      <label for="confirm_password"><i class="fa-solid fa-lock"></i> Confirm New Password:</label>
      {{ form.confirm_password(class='form-control', placeholder="Re-enter your new password") }}

      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      {% endfor %}

      <br>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}
