{% extends "base2.html" %}

{% block content %}
<div class="auth-background">
  <div class="floating-icons">
    <img src="{{ url_for('static', filename='icons/1_puff1.png') }}" class="float-icon" style="top: 8%; left: 15%;">
    <img src="{{ url_for('static', filename='icons/1_puff2.png') }}" class="float-icon" style="top: 12%; right: 10%;">
    <img src="{{ url_for('static', filename='icons/1_puff3.png') }}" class="float-icon" style="top: 45%; left: 7%;">  
    <img src="{{ url_for('static', filename='icons/1_puff4.png') }}" class="float-icon" style="bottom: 10%; right: 6%;">
    <img src="{{ url_for('static', filename='icons/1_puff6.png') }}" class="float-icon" style="top: 35%; right: 4%;">

    <img src="{{ url_for('static', filename='icons/1_puff7.png') }}" class="float-icon" style="top: 29%; left: 20%;">
    <img src="{{ url_for('static', filename='icons/1_puff9.png') }}" class="float-icon" style="top: 53%; left: 20%;">  
    <img src="{{ url_for('static', filename='icons/1_puff11.png') }}" class="float-icon" style="top: 43%; right: 4%;">

    <img src="{{ url_for('static', filename='icons/1_puff12.png') }}" class="float-icon" style="top: 71%; left: 15%;">
    <img src="{{ url_for('static', filename='icons/1_puff13.png') }}" class="float-icon" style="top: 55%; right: 23%;">
    <img src="{{ url_for('static', filename='icons/1_puff14.png') }}" class="float-icon" style="top: 21%; left: 5%;">  
    <img src="{{ url_for('static', filename='icons/1_puff15.png') }}" class="float-icon" style="bottom: 64%; right: 20%;">
    <img src="{{ url_for('static', filename='icons/1_puff16.png') }}" class="float-icon" style="top: 67%; right: 12%;">

  </div>

  <div class="auth-box">
    <a href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fashonise Logo" class="auth-logo" />
    </a>

    <div class="tabs">
      <a href="{{ url_for('main.signup') }}" class="selected">Sign-Up</a>
      <a href="{{ url_for('main.login') }}">Log-In</a>
    </div>

    <form method="POST" action="{{url_for('main.signup')}}">
      {{ form.hidden_tag() }}

      <label for="username"><i class="fa-solid fa-user"></i> Username: </label>
      {{ form.username(class='form-control', id='username') }}

      <label for="firstname"><i class="fa-solid fa-user"></i> First Name: </label>
      {{ form.firstname(class='form-control', id='firstname') }}

      <label for="lastname"><i class="fa-solid fa-user"></i> Last Name: </label>
      {{ form.lastname(class='form-control', id='lastname') }}

      <label for="email"><i class="fa-solid fa-envelope"></i> Email: </label>
      {{ form.email(class='form-control', id='email') }}

      <label for="password"><i class="fa-solid fa-lock"></i> Password: </label>
      {{ form.password(class='form-control', id='password') }}

      <label for="confirm_password"><i class="fa-solid fa-lock"></i> Confirm Password: </label>
      {{ form.confirm_password(class='form-control', id='confirm_password') }}

      <div class="terms_cont">
        {{ form.terms(class='form-check-input', id='terms') }}
        <label for="terms">I agree to the Terms & Conditions</label>
      </div>

      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      {% endfor %}

      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}
