<!-- Warning block for existing account -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% extends "base2.html" %}

{% block content %}
<div class="container signup-page">
  <div class="split left">
    <div class="centered">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
      
      <p class="Welcome"><b>Welcome to Fashonize!</b></p>

      <br>
      <p>Join 50,000+ users who have transformed <br> their closet experience</p>
      
      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>

      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>

      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="split right">
    <div class="centered2">
      <div class="sign_up">

        <div class="tabs">
          <a href="{{ url_for('signup') }}" class="selected">Sign-Up</a>
          <a href="{{ url_for('login') }}">Log-In</a>
        </div>

        <form>
          <label for="firstname"><i class="fa-solid fa-user"></i> First Name: </label>
          <input type="text" name="firstname" id="firstname" required>

          <label for="lastname"><i class="fa-solid fa-user"></i> Last Name: </label>
          <input type="text" name="lastname" id="lastname" required>

          <label for="email"><i class="fa-solid fa-envelope"></i> Email: </label>
          <input type="text" name="email" id="email" required>

          <label for="password"><i class="fa-solid fa-lock"></i> Password: </label>
          <input type="password" name="password" id="password" required>

          <label for="confirm"><i class="fa-solid fa-lock"></i> Confirm Password: </label>
          <input type="password" name="confirm" id="confirm" required>

          <div class="terms_cont">
            <input type="checkbox" id="terms" required>
            <label for="terms">I agree to the Terms & Conditions</label>
          </div>

          <button type="submit"> Sign-Up </button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
