{% extends "base2.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container signup-page">
  <div class="split left">
    <div class="centered">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
      
      <p class="Welcome"><b>Welcome to Fashonize!</b></p>

      <br>
      <p>Join 50,000+ users who have transformed <br> their closet experience</p>
      
      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>

      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>

      <br>

      <div class="star_row">
        <div class="pic"></div>
        <p>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="split right">
    <div class="centered2">
      <div class="sign_up">

        <div class="tabs">
          <a href="{{ url_for('signup') }}" class="selected">Sign-Up</a>
          <a href="{{ url_for('login') }}">Log-In</a>
        </div>

        <form method="POST" action="{{url_for('signup')}}">
          {{ form.hidden_tag() }}
          <label for="firstname"><i class="fa-solid fa-user"></i> First Name: </label>
          {{ form.firstname(class='form-control', id='firstname')}}

          <label for="lastname"><i class="fa-solid fa-user"></i> Last Name: </label>
          {{ form.lastname(class='form-control', id='lastname')}}

          <label for="email"><i class="fa-solid fa-envelope"></i> Email: </label>
          {{ form.email(class='form-control', id='email')}}

          <label for="password"><i class="fa-solid fa-lock"></i> Password: </label>
          {{ form.password(class='form-control', id='password')}}

          <label for="confirm_password"><i class="fa-solid fa-lock"></i> Confirm Password: </label>
          {{ form.confirm_password(class='form-control', id='confirm_password')}}

          <div class="terms_cont">
            {{ form.terms(class='form-check-input', id='terms')}}
            <label for="terms">I agree to the Terms & Conditions</label>
            {% for field, errors in form.errors.items() %}
              {% for error in errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endfor %}
          </div>

          <button type="submit"> Sign-Up </button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
